<div class="post-show row">
  
  <div class="col-md-8">
    <%=image_tag @post.image, class: 'image' %>
  </div>
  <div class="col-md-4">
    <div class="description">
       <%= render partial: "description", locals: {post: @post} %>
    </div>
    <div class="delete">
    <% if current_user.posts.exists?(@post.id) %>
    <%= link_to 'Remove', [@post.user, @post], method: :delete, 
    data: { confirm: 'Are you sure?' } %>
    <% end %>
    </div>
  </div>
 </div> 
    